<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2 class="heading-centred heading-style-uppercase">Add a new review</h2>

<form action="{{ url_for('insert_review') }}" method="POST" class="col-12">
	<div class="row">
		<div class="col-12">
			<label>Review Information</label>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<input type="hidden" id="game_id" name="game_id" value="{{game._id}}">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<i class="fas fa-gamepad"></i>
			<textarea name="review" rows="5" cols="40">Input review text here</textarea>
			<label for="review">Leave a Review</label>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-primary" type="submit">
            Add Review <i class="fas fa-plus-square"></i>
		</button>
	</div>
</form>

{% endblock %}