<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2 class="heading-style-uppercase">Edit review</h2>

<form action="{{ url_for('update_review', review_id = reviews._id) }}" method="POST" class="col-12">
	<div class="row">
	</div>
	<div class="row">
		<div class="col-12">
			<input type="hidden" id="game_id" name="game_id" value="{{game._id}}">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<i class="fas fa-gamepad" aria-hidden="true"></i>
			<label for="review">Change Your Review</label>
		</div>
	</div>
    <div class="row">
        <div class="col">
            <textarea name="review" rows="10" cols="60">{{reviews.review}}</textarea>
        </div>
	</div>
	<div class="row">
        <div class="col">
            <button class="btn btn-primary" type="submit">
                Submit Changes <i class="fas fa-plus-square" aria-hidden="true"></i>
            </button>
        </div>
	</div>
</form>

{% endblock %}