<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2 class="heading-style-uppercase">Edit game information</h2>

<form action="{{ url_for('update_game', game_list_id = game._id) }}" method="POST" class="col-12">
	<div class="row">
		<div class="col-12">
			<label>Game Information</label>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<i class="fas fa-signature"></i>
			<input id="game_name" name="game_name" type="text" value="{{game.game_name}}">
			<label for="game_name">Game Title</label>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<i class="fas fa-gamepad"></i>
			<input id="game_genre" name="game_genre" type="text" value="{{game.game_genre}}">
			<label for="game_genre">Genre</label>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<i class="fas fa-user-alt-slash"></i>
			<input id="game_pegi_rating" name="game_pegi_rating" type="text" value="{{game.game_pegi_rating}}">
			<label for="game_pegi_rating">PEGI Rating</label>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<i class="fas fa-image"></i>
			<input id="game_image" name="game_image" type="text" value="{{game.game_image}}">
			<label for="game_image">Image URL</label>
		</div>
	</div>
    <div class="row">
		<div class="col-12">
			<i class="fas fa-copyright"></i>
			<input id="fair_use" name="fair_use" type="text" value="{{game.fair_use}}">
			<label for="fair_use">Image Copyright URL</label>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-primary" type="submit">Edit Game
			    <i class="fas fa-pen-square"></i>
			  </button>
	</div>
</form>

{% endblock %}