<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2 class="heading-centred heading-style-uppercase">Video games for review</h2>

<!--Table generates a list of relevant information from database values-->
<table class="table table-bordered">
	<tr>
		<th>
			Name
		</th>
		<th>
			Genre
		</th>
		<th>
			PEGI Rating
		</th>
	</tr>
	{% for game in game_list %}
	<tr>
		<td>
			<!--Links to a page that displays the game title as a h1-->
			<a class="clickable-name" href="{{ url_for('more_info', game_list_id=game._id)}}">
				<i class="fas fa-link"></i> {{game.game_name}}
			</a>
		</td>
		<td>
			{{game.game_genre}}
		</td>
		<td>
			{{game.game_pegi_rating}}
		</td>
        <td>
			<button class="btn btn-warning"
            href="{{ url_for('delete_game', game_list_id=game._id) }}">
                Delete Entry
            </button>
		</td>
	</tr>
	{% endfor %}
</table>
<nav aria-label="Table navigation">
	<ul class="pagination justify-content-center">
		<li class="page-item"><a class="page-link round" href="${first}" tabindex="-2">&laquo;</a></li>
        <li class="page-item"><a class="page-link round" href="${previous}" tabindex="-1">&lsaquo;</a></li>
		<li class="page-item"><a class="page-link round" href="${numPage}">1</a></li>
        <li class="page-item"><a class="page-link round" href="${numPage}">2</a></li>
        <li class="page-item"><a class="page-link round" href="${numPage}">3</a></li>
        <li class="page-item"><a class="page-link round" href="${next}" tabindex="+1">&rsaquo;</a></li>
		<li class="page-item"><a class="page-link round" href="${last}" tabindex="+2">&raquo;</a></li>
	</ul>
</nav>

<script>

</script>
{% endblock %}