<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2 class="heading-centred heading-style-uppercase">Video games for review</h2>
<!--Table generates a list of relevant information from database values-->
<table class="table table-bordered">
	<tr>
		<th></th>
		<th>
			Name
		</th>
		<th>
			Genre
		</th>
		<th>
			PEGI Rating
		</th>
		<th></th>
	</tr>
	{% for game in game_list %}
	<tr>
		<td>
			{{ loop.index }}.
		</td>
		<td>
			<!--Links to a page that displays the game title as a h2-->
			<a class="clickable-name" href="{{ url_for('more_info', game_list_id=game._id)}}">
				<i class="fas fa-link"></i> {{game.game_name}}
			</a>
		</td>
		<td>
			{{game.game_genre}}
		</td>
		<td>
			{{game.game_pegi_rating}}
		</td>
		<td><a class="btn btn-sm btn-margin btn-danger" href="{{ url_for('delete_game', game_list_id=game._id) }}">
				Delete
			</a>
		</td>
	</tr>
	{% endfor %}
</table>
<!--Pagination-->
<script>
    let pageNumber = 0;
    let nPerPage = 2;
    function printGames(pageNumber, nPerPage) {
        print( "Page: " + pageNumber );
        mongo.db.game_list.find()
            cursor.skip( pageNumber > 0 ? ( (
            pageNumber - 1 ) * nPerPage ) : 0 )
            cursor.limit( nPerPage )
            cursor.forEach( game => {
            print( game );
            });
    }
</script>
{% endblock %}