<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}

<h2 class="heading-style-uppercase">Video games for review</h2>
<!--Table generates a list of relevant information from database values-->
<table class="table table-bordered">
	<tr>
		<th></th>
		<th>
			Reviews
		</th>
		<th>
			Genre
		</th>
		<th>
			PEGI Rating
		</th>
		<th></th>
	</tr>
	{% for game in games %}
	<tr>
		<td>
			{{ loop.index + pagination.skip}}.
		</td>
		<td>
			<!--Links to a page that displays the game title as a h2-->
			<a class="clickable-name" href="{{ url_for('more_info', game_list_id=game._id)}}">
				<i class="fas fa-link" aria-hidden="true"></i> {{game.game_name}}
			</a>
		</td>
		<td>
			{{game.game_genre}}
		</td>
		<td>
			{{game.game_pegi_rating}}
		</td>
        {% if isLoggedIn %}
		<td>
			<a class="btn btn-sm btn-margin btn-danger" href="{{ url_for('delete_game', game_list_id=game._id) }}">
			    <i class="fas fa-trash" aria-hidden="true"></i>
			</a>
		</td>
        {% endif %}
	</tr>
	{% endfor %}
</table>

<!--Pagination buttons-->
{{ pagination.info }}
{{ pagination.links }}

{% endblock %}