<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}

{% for name in game_list %}

<h1 class="heading-style-uppercase">{{game.game_list}}</h1>

{% endfor %}

{% endblock %}

{% block content %}

<!--{% for name in game_list %}
<ul>
	<li>
		{{name.game_genre}}
	</li>
	<li>
		{{name.game_pegi_rating}}
	</li>
</ul>
{% endfor %}-->

{% endblock %}

<!--{% if cat.category_name == task.category_name %}
<option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
{% else %}
<option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
{% endif %}-->