<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

{% for cat in categories %}

{% if cat.game_name == game.game_name %}

<h2 class="heading-centred heading-style-uppercase">{{cat.game_name}}</h2>

<img src="{{cat.game_image}}" alt="image of game cover art">
    {% for review in reviews %}
        {% if game._id == reviews.gameID %}
            <p>{{review.review}}</p>
        {% endif %}
    {% endfor %}

<form class="collapse" id="showReviewSubmit">
	<div>
		<textarea class="form-control" id="review" name="review" rows="3"></textarea>
		<a href="{{ url_for('add_review') }}" class="btn btn-primary btn-sm btn-margin">Submit Review</a>
	</div>
</form>

<button class="btn btn-primary btn-margin btn-hide" type="button" data-toggle="collapse"
data-target="#showReviewSubmit" aria-expanded="false" aria-controls="addReview">
    Add Review
</button>
<div class="btn-margin">
	<a href="{{cat.fair_use}}" target="_blank">
		By Source, Fair Use
	</a>
</div>
{% endif %}

{% endfor %}

<a href="{{ url_for('update_game', game_list_id=game._id) }}" class="btn btn-primary btn-sm">Edit Info</a>

{% endblock %}