<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

{% for cat in categories %}

{% if cat.game_name == game.game_name %}

<h2 class="heading-centred heading-style-uppercase">{{cat.game_name}}</h2>

<div class="row no-gutters">
	<div class="col-3">
		<img src="{{cat.game_image}}" alt="image of game cover art">
    </div>
	<div class="col">
		{% for reviews in review %}

		<p>{{reviews.review}}</p>

		<a class="btn btn-margin btn-success" 
        href="{{ url_for('edit_review', review_id = reviews._id, game_list_id = game._id) }}">
            Edit Review
        </a>

		<a class="btn btn-margin btn-warning" href="{{ url_for('delete_review', review_id = reviews._id) }}">
            Delete Review
        </a>

		{% endfor %}
	</div>
</div>

<a href="{{ url_for('add_review', game_list_id = game._id) }}" class="btn btn-margin btn-primary btn-sm">
    Add Review
</a>

<div class="btn-margin">
	<a href="{{cat.fair_use}}" target="_blank">
		By Source, Fair Use
	</a>
</div>

{% endif %}

{% endfor %}

<a href="{{ url_for('edit_game', game_list_id=game._id) }}" class="btn btn-margin btn-primary btn-sm">
    Edit Info
</a>

{% endblock %}